<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/normalize.css?{{ now.Unix }}">
    <link rel="stylesheet" href="/css/milligram.css?{{ now.Unix }}">
    <link rel="stylesheet" href="/css/main.css?{{ now.Unix }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{ if not .Page.IsHome }}
            {{ .Title }} - 
        {{ end }}
        Blindis.no
    </title>
    <link rel="canonical" href="{{ .Permalink }}">
</head>