{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}


<div class="site-section">
    <div class="site-section-content">
        <h2>{{ i18n "velkommen" }}</h2>

        <div class="action-buttons">
            <a href="{{ ref . "guide/bolig.md" | relLangURL }}">{{ i18n "bolig-action" }}</a>
            <a href="{{ ref . "guide/penger.md" | relLangURL }}">{{ i18n "penger-action" }}</a>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="site-section-content">
        <h3>{{ i18n "ny-tittel" }}</h3>
        <p class="sub-header">{{ i18n "ny-undertittel" }}</p>
        <p><a href="{{ ref . "guide/fa-2017.md" | relLangURL }}" class="action-button">Fysikk og astronomi 2017 →</a></p>
    </div>
</div>

<div class="site-section">
    <div class="site-section-content">
        <h3>{{ i18n "emner-tittel" }}</h3>
        <p class="sub-header">{{ i18n "emner-undertittel" }}</p>
        <ul>
        {{ range (where .Data.Pages "Section" "course").Reverse }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
    </div>
</div>
{{ partial "footer.html" . }}
</body>
