{{ partial "header.html" . }}
<body>
{{ partial "navbar.html" . }}

<div class="site-section">
    <div class="site-section-content">
        <h2>{{ .Title }}</h2>
        <div class="center-nav">
            <a href="#pensum">{{ i18n "section-pensum" }}</a>
            <a href="#eksamen">{{ i18n "section-eksamen" }}</a>
            {{ if .Params.official_url }}
                <a href="{{ .Params.official_url }}">{{ i18n "section-semesterside" }}</a>
            {{ end }}
        </div>
    </div>
</div>

{{ .Content }}

{{ partial "footer.html" . }}

</body>
